html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  white-space: pre-line;
}

img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
}

.title_container {
  width: 60%;
  /* text-align: center; */
  position: relative;
  margin: auto;
}

.titlebar {
  background: #222831;
  margin: 0;
  padding-left: 0;
  padding-bottom: 0.5em;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: calc(12px + 3vw);
  font-weight: 600;
  color: #eee;
}

.name {
  color: #eee;
}

.menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.subtitle {
  color: #eee;
  font-size: calc(12px + 1vw);
  font-weight: 300;
}

.title a:link, a:visited, a:active {
  text-decoration: none;
  color: #eee;
}

.title a:hover {
  color: #00adb5;
}

.subtitle a:link, a:visited, a:active {
  text-decoration: none;
  color: #eee;
}

.subtitle a:hover {
  color: #00adb5;
}

.links_menu {
  margin-left: auto;
  color: #eee;
  font-size: calc(12px + 0.5vw);
  font-weight: 300;
  text-align: center;
  padding-right: 0;
}

.links_menu a:link, a:visited, a:active {
  text-decoration: none;
  color: #eee;
}

.links_menu a:hover {
  color: #00adb5;
}

a.page_link:link {
  color: #00adb5;
  text-decoration: none;
}

a.page_link:visited {
  color: #00adb5;
  text-decoration: none;
}

a.page_link:hover {
  color: #00cfd9;
}

a.page_link:active {
  color: #00adb5;
  text-decoration: none;
}

.carousel-container {
  width: 60%;
  margin: auto;
  padding-top: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--lx-gap);

  .carousel {
    /* aspect-ratio: 16/9; commenting this out allows for the caption to be shown below the image */
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .item {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: none;
      transition: opacity 0.5s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &.active {
        opacity: 1;
        display: block;
      }
    }
  }

  /* this caption tag was initially inside the carousel tag */
  .caption { 
    width: 100%;
    padding: var(--lx-space-01);
    top: 0;
    position: relative;
    bottom: 0;
    /* left: auto; */
    /* right: auto; */
    /* text-transform: uppercase; */
    text-align: center;
    font-size: 0.85em;
    background-color: #fff;
    color: #000;
  }

  .btn {
    padding: 1em 2em;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 100;
    color: #eee;
    background-color: transparent;
    transition: transform 0.2s ease-in-out;

    &:active,
    &:focus {
      transform: translateY(-50%) scale(0.9);
    }

    &:hover {
      transform: translateY(-50%) scale(0.96);
    }
  }

  .prev {
    left: 0%;
  }

  .next {
    right: 0%;
  }

  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;

    .dot {
      border-radius: 50%;
      cursor: pointer;
      height: 10px;
      width: 10px;
      background-color: darkgray;
      transition: background-color 0.2s ease;

      &.active,
      &:hover {
        background-color: grey;
      }
    }
  }
}

.blog_container {
  width: 60%;
  position: relative;
  margin: auto;
  padding-top: 3vh;
}

.blog_post_title {
  font-size: calc(12px + 0.5vw);
  font-weight: 300;
}

.blog_post_date {
  font-size: calc(12px + 0.4vw);
  font-weight: 300;
}

.blog_post_content {
  font-size: calc(12px + .3vw);
  font-weight: 300;
}

.category_title {
  font-size: calc(12px + 0.5vw);
  font-weight: 300;
}


.project_container {
  width: 60%;
  position: relative;
  margin: auto;
  padding-top: 3vh;
}

.project_layout {
  display:block;
  gap: 2rem;
  padding-top: 1rem;
}

.project_layout > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.project_title {
  color: #00adb5;
  font-size: calc(12px + 0.5vw);
  font-weight: 300;
}

.project_info {
  font-size: calc(12px + .3vw);
  font-weight: 300;
}


@media screen and (min-width:1025px) {
  .project_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .carousel-container {
    width: 80%;
  }

  .title_container {
    width: 80%;
  }

  .blog_container {
    width: 80%;
  }
}


@media screen and (max-width: 600px) {
  .carousel-container {
    width: 90%;
    
    .caption {
      font-size: 0.75em;
    }
  }

  .title_container {
    width: 90%;
  }

  .blog_container {
    width: 90%;
  }
}